@import "tailwindcss";

:root {
  --ink-black: #0d1321;
  --deep-space-blue: #1d2d44;
  --blue-slate: #3e5c76;
  --dusty-denim: #748cab;
  --eggshell: #f0efeb;
  --background: var(--eggshell);
  --foreground: var(--ink-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ink-black: var(--ink-black);
  --color-deep-space-blue: var(--deep-space-blue);
  --color-blue-slate: var(--blue-slate);
  --color-dusty-denim: var(--dusty-denim);
  --color-eggshell: var(--eggshell);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--ink-black);
    --foreground: var(--eggshell);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
